H1 {
	color: #53FF33;
	font-size: 500%;
	font-family: "Century Gothic", sans-sefir;
	text-align: center;
}

from {
	text-align: center;
}

input {
	background-position: center;
	width: 450pxpx;
	height: 130px;
	background-size: 450px 130px;
	font-weight: bold;
	font-size: 200%;
	cursor: pointer;
}
.one{
	background: url(image1.jpg);
}
.two{
	background: url(image2.jpg);
}
.three{
	background: url(image3.jpg);
}

input: hover {
	background: url(image4.jpg);
}
p {
	color: #B3B6B7;
	font-size: 12pt;
	font-family: "Comic Sans MS", sans-sefir;
	text-align: center;
}